node_modules
api/tmp_data/*
!api/tmp_data/.keep
tmp_log.csv
__pycache__
.env
.env*
!.env.sample
.ipynb_checkpoints
*.sqlite
*.db
*.dump
.googleenv
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.terraform/
*.tfstate*
*.tfvars
*.ipynb
.vscode*
.ruff_cache
dist/*
build/*
!build/.keep
cypress/downloads
cypress/screenshots
cypress/videos
