node_modules
api/tmp_data/*
tmp_log.csv
__pycache__
.env
.ipynb_checkpoints
*.sqlite
.googleenv
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
*.ipynb
.vscode*
.ruff_cache
