click==7.1.2
docxtpl==0.10.0
Flask==1.1.2
Flask-Cors==3.0.9
Flask-Mail==0.9.1
fuzzywuzzy==0.18.0
gspread==3.6.0
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
lxml==4.6.2
MarkupSafe==1.1.1
numpy==1.19.1
pandas==1.0.5
python-dateutil==2.8.1
python-docx==0.8.10
python-dotenv==0.14.0
python-Levenshtein==0.12.0
pytz==2020.1
six==1.15.0
Werkzeug==1.0.1
