body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.site-layout-content {
  background: #fff;
  padding: 24px;
  /* header is 64px, footer is 70px */
  min-height: calc(100vh - 134px);
}

.ant-menu {
  background-color: #ffde52;
}

.ant-form-large .ant-form-item-label > label,
.ant-form-large .ant-form-item-label > label.ant-form-item-required {
  height: auto;
  overflow: visible;
  white-space: normal;
  overflow-y: visible;
}

.ant-form-item-explain,
.ant-form-item-explain-connected {
  font-style: italic;
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.85);
}

p a,
ul a {
  text-decoration: underline;
}

.ant-layout-header ul a {
  text-decoration: none;
}

.ant-table-row.valid-comparable,
.ant-table-row.valid-comparable:hover > td {
  background-color: #dff3e3;
}
.ant-table-row.invalid-comparable,
.ant-table-row.invalid-comparable:hover > td {
  background-color: #f6dada;
}
